<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  
  <title>Snap!</title>
  <meta name="description" content="">
  <script src="/js/jquery-1.11.1.min.js"></script>

  <!-- No css :( -->

  </head>
  <body>
    
    {{{body}}}

  <script src="/js/wordcloud2.min.js"></script>
  </body>
</html>