<!DOCTYPE html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
  </head>
  <body>
    <form class="" action="/" method="post" enctype="application/x-www-form-urlencoded">
      <textarea class="form-control"  name="playerName" cols="50" rows="3"></textarea>
      <br>
      <input class="btn btn-info" type="submit" value="Join">
    </form>
  </body>
</html>
