<!DOCTYPE html>
<html>
  <head>
    <script src="/js/socket.io.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/snap.js"></script>
  </head>
  <body>
  <div>
    <input id="playerName" type="text" class="form-control">
    <button id="joinButton" type="button">Join</button>
  </div>

  <div>
    <input id="newWord" type="text" class="form-control">
    <button id="wordButton" type="button">Add Word</button>
  </div>


  </body>
</html>
